<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TP n°2</title>
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/default.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
  <main id="main" class="container">
    <h1>TP n°2</h1>
    <ol>
      <li v-if="currentQuestion >= 0">Connecter à MariaDB.
        <div class="my-1">
          <label for="server">Serveur</label>
          <input type="text" id="serer" class="form-control" v-model="host">
        </div>
        <div class="my-1">
          <label for="user">Utilisateur</label>
          <input type="text" class="form-control" v-model="user" placeholder="aucun">
        </div>
        <div class="my-1">
          <label for="server">Mot de passe</label>
          <input type="text" class="form-control" v-model="password" placeholder="aucun">
        </div>
        <div class="my-1">
          <button type="button" class="btn btn-primary" v-if="currentQuestion == 0"
            v-on:click="connectToServer()">Connecter</button>
        </div>
        <div class="my-1 text-danger" v-if="!isSuccessful[0]">{{connectMsg[0]}}</div>
        <div class="my-1 text-success" v-if="isSuccessful[0]">{{connectMsg[0]}}</div>
      </li>
      <li v-if="currentQuestion >= 1">Créer une nouvelle base de données appelée <code>location_vehicules</code>.
        <div class="my-1"><input type="text" class="form-control" v-model="queries[1]"></div>
        <div class="my-1">
          <button type="button" class="btn btn-primary" v-if="currentQuestion == 1"
            v-on:click="createDatabase()">Question suivante</button>
        </div>
        <div class="my-1 text-danger" v-if="!isSuccessful[1]">{{connectMsg[1]}}</div>
        <div class="my-1 text-success" v-if="isSuccessful[1]">{{connectMsg[1]}}</div>
      </li>
      <li v-if="currentQuestion >= 2">Le gérant de l'agence de location de voitures a besoin des informations suivantes
        :
        <table class="table table-sm table-bordered table-striped border-dark dict-table mb-2">
          <thead>
            <tr>
              <th>Colonne</th>
              <th>Description</th>
              <th>Type de données</th>
              <th>Taille</th>
              <th>Oblig.</th>
              <th>Val. par déf.</th>
              <th>Val. auto.</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>matricule</td>
              <td>Matricule de la voiture</td>
              <td>Texte</td>
              <td>10</td>
              <td>✔</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>vehicule</td>
              <td>Marque de la voiture</td>
              <td>Texte</td>
              <td>32</td>
              <td>✔</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>prix_unit</td>
              <td>Prix de location pour une journée</td>
              <td>Numérique réel</td>
              <td>&nbsp;</td>
              <td>✔</td>
              <td>0.0</td>
              <td>≥ 0.0</td>
            </tr>
            <tr>
              <td>libre</td>
              <td>Indique si le véhicule est disponible pour la locations</td>
              <td>Texte</td>
              <td>1</td>
              <td>✔</td>
              <td>"O"</td>
              <td>"O" ou "F"</td>
            </tr>
            <tr>
              <td>cin</td>
              <td>Numéro de la carte d'identité du client</td>
              <td>Texte</td>
              <td>10</td>
              <td>✔</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>client</td>
              <td>Nom du client</td>
              <td>Texte</td>
              <td>32</td>
              <td>✔</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>genre</td>
              <td>Genre du client (Homme / Femme)</td>
              <td>Texte</td>
              <td>1</td>
              <td>✔</td>
              <td>"H"</td>
              <td>"H" ou "F"</td>
            </tr>
            <tr>
              <td>tel</td>
              <td>Téléphone du client</td>
              <td>Texte</td>
              <td>16</td>
              <td>✔</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>num_location</td>
              <td>Numéro de location</td>
              <td>Entier</td>
              <td></td>
              <td>✔</td>
              <td>Auto incrémenté</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>date_location</td>
              <td>Date de location du véhicule</td>
              <td>Date</td>
              <td>&nbsp;</td>
              <td>✔</td>
              <td>Date du jour</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>date_retour</td>
              <td>Date de retour du véhicule</td>
              <td>Date</td>
              <td>&nbsp;</td>
              <td>✔</td>
              <td>&nbsp;</td>
              <td>date_retour &gt; date_location</td>
            </tr>
            <tr>
              <td>montant_location</td>
              <td>Prix total de location du véhicule</td>
              <td>Numérique réel</td>
              <td>&nbsp;</td>
              <td>✔</td>
              <td>0.0</td>
              <td>≥ 0.0</td>
            </tr>
          </tbody>
        </table>
        <p><strong>On demande de regrouper ces colonnes dans plusieurs entités distinctes.</strong></p>
        <div class="my-1">
          <button type="button" class="btn btn-primary" v-if="currentQuestion == 2"
            v-on:click="nextQuestion(currentQuestion+1)">Question suivante</button>
        </div>
      </li>
      <li v-if="currentQuestion >= 3">Créer la table <code>vehicules</code>.
        <p>Les enregistrement de la table sont identifiés par la colonne <code>matricule</code>.</p>
        <div class="my-1">
          <textarea cols="30" rows="10" class="form-control" v-model="queries[3]"></textarea>
        </div>
        <div class="my-1 text-danger" v-if="!isSuccessful[3]">{{connectMsg[3]}}</div>
        <div class="my-1 text-success" v-if="isSuccessful[3]">{{connectMsg[3]}}</div>
        <div class="my-1">
          <button type="button" class="btn btn-primary" v-if="currentQuestion == 3 || !isSuccessful[3]"
            v-on:click="executeQuery(3)">Exécuter la requête</button>
          <button type="button" class="btn btn-primary" v-if="currentQuestion == 3"
            v-on:click="nextQuestion(currentQuestion + 1)">Question suivante</button>
        </div>
      </li>
      <li v-if="currentQuestion >= 4">Créer la table <code>clients</code>.
        <p>La table <code>clients</code> est identifiée par la colonne <code>cin</code>.</p>
        <div class="my-1">
          <textarea cols="30" rows="10" class="form-control" v-model="queries[4]"></textarea>
        </div>
        <div class="my-1 text-danger" v-if="!isSuccessful[4]">{{connectMsg[4]}}</div>
        <div class="my-1 text-success" v-if="isSuccessful[4]">{{connectMsg[4]}}</div>
        <div class="my-1">
          <button type="button" class="btn btn-primary" v-if="currentQuestion == 4 || !isSuccessful[4]"
            v-on:click="executeQuery(4)">Exécuter la requête</button>
          <button type="button" class="btn btn-primary" v-if="currentQuestion == 4"
            v-on:click="nextQuestion(currentQuestion + 1)">Question suivante</button>
        </div>
      </li>
      <li v-if="currentQuestion >= 5">Créer la table <code>locations</code>.
        <p>La table est identifiée par le champ <code>num_location</code>.</p>
        <div class="my-1">
          <textarea cols="30" rows="10" class="form-control" v-model="queries[5]"></textarea>
        </div>
        <div class="my-1 text-danger" v-if="!isSuccessful[5]">{{connectMsg[5]}}</div>
        <div class="my-1 text-success" v-if="isSuccessful[5]">{{connectMsg[5]}}</div>
        <div class="my-1">
          <button type="button" class="btn btn-primary" v-if="currentQuestion == 5 || !isSuccessful[5]"
            v-on:click="executeQuery(5)">Exécuter la requête</button>
          <button type="button" class="btn btn-primary" v-if="currentQuestion == 5"
            v-on:click="nextQuestion(currentQuestion + 1)">Question suivante</button>
        </div>
      </li>
    </ol>
  </main>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/highlight.min.js"></script>
  <script src="assets/js/vue.min.js"></script>
  <script src="assets/apps/app02.js"></script>
</body>

</html>