<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TP n°3</title>
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/default.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
  <main id="main" class="container">
    <h1>TP n°3</h1>
    <div class="my-1 connection-params" v-if="!isConnected" data-num-tp="3" data-base="bookshelf">
      <div class="my-1"><strong>Connexion au serveur de base de données.</strong></div>
      <div class="my-1">
        <label for="server">Serveur</label>
        <input type="text" id="serer" class="form-control" v-model="connectionSettings.host">
      </div>
      <div class="my-1">
        <label for="user">Utilisateur</label>
        <input type="text" class="form-control" v-model="connectionSettings.user" placeholder="aucun">
      </div>
      <div class="my-1">
        <label for="server">Mot de passe</label>
        <input type="password" class="form-control" v-model="connectionSettings.password" placeholder="aucun">
      </div>
      <div class="my-1">
        <label for="server">Base de données</label>
        <input type="text" class="form-control" v-model="connectionSettings.dbName" placeholder="aucun" readonly>
      </div>
      <div class="my-1">
        <label><input type="checkbox" v-model="connectionSettings.dropAndCreateDatabase"> Supprimer et recréer la base
          de données</label>
      </div>
      <div class="my-1">
        <button type="button" class="btn btn-primary" v-on:click="connectToServer(0)">Connecter</button>
        <button type="button" class="btn btn-danger" v-on:click="resetAnswersClicked()">Effacer les réponses...</button>
      </div>
      <div class="my-1 text-danger" v-if="!isSuccess[0]" v-html="msg[0]"></div>
      <div class="my-1 text-success" v-if="isSuccess[0]" v-html="msg[0]"></div>
    </div>

    <div class="my-1" v-if="isConnected">
      <ol>
        <li v-for="li in allLi">
          <div class="my-1" v-html="li.question"></div>
          <template v-if="li.hasQuery">
            <textarea v-if="li.queryParams.type = 'textarea'" class="form-control" cols="30"
              v-bind:rows="li.queryParams.rows" v-model="userQueries[li.queryParams.numQuery]"></textarea>
            <div class="my-1"
              v-if="Array.isArray(data[li.queryParams.numQuery]) && data[li.queryParams.numQuery].length > 0">
              <table class="table table-sm table-bordered table-striped border-dark">
                <thead>
                  <tr>
                    <th v-for="column in Object.keys(data[li.queryParams.numQuery][0])">{{column}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="row in data[li.queryParams.numQuery]">
                    <td v-for="col in Object.keys(row)">{{row[col]}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="my-1 text-danger" v-if="!isSuccess[li.queryParams.numQuery]"
              v-html="msg[li.queryParams.numQuery]"></div>
            <div class="my-1 text-success d-print-none" v-if="isSuccess[li.queryParams.numQuery]"
              v-html="msg[li.queryParams.numQuery]"></div>
            <div class="my-1 d-print-none">
              <button type="button" class="btn"
                v-bind:class="{'btn-primary': executionCount[li.queryParams.numQuery] == 0, 'btn-secondary': executionCount[li.queryParams.numQuery] > 0 && executionCount[li.queryParams.numQuery] <= minExecCount, 'btn-success': executionCount[li.queryParams.numQuery] > minExecCount}"
                v-on:click="executeQuery(li.queryParams.numQuery)">Exécuter
                la requête [{{executionCount[li.queryParams.numQuery]}}]</button>
              <button type="button" class="btn btn-warning"
                v-if="executionCount[li.queryParams.numQuery] > minExecCount && !showAnswer[li.queryParams.numQuery]"
                v-on:click="showAnswerClicked(li.queryParams.numQuery)">Afficher la correction</button>
            </div>
            <div class="my-1 d-print-none" v-if="showAnswer[li.queryParams.numQuery]">
              <h3>Correction</h3>
              <pre
                v-bind:id="'query-answer-'+li.queryParams.numQuery"><code class="sql" v-html="queries[li.queryParams.numQuery]"></code></pre>
              <div class="my-1">
                <button type="button" class="btn btn-info"
                  v-if="queries[li.queryParams.numQuery] != userQueries[li.queryParams.numQuery]"
                  v-on:click="pasteAnswerClicked(li.queryParams.numQuery)">Copier/Coller</button>
              </div>
            </div>
          </template>
        </li>
      </ol>
    </div>

    <ol id="questions" class="d-none">
      <li>
        <div class="question">
          <p>La bibliothèque de Mondher est multi-lingues. Il veut créer une base de données lui facilitant la recherche
            de ses livres.</p>
          <p>Actuellement, Mondher a besoin des informations suivantes :</p>
          <table class="table table-sm table-bordered table-striped border-dark dict-table mb-2">
            <thead>
              <tr>
                <th>Colonne</th>
                <th>Description</th>
                <th>Type de données</th>
                <th>Taille</th>
                <th>Oblig.</th>
                <th>Val. par déf.</th>
                <th>Val. auto.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>book_id</td>
                <td>Numéro de série du livre</td>
                <td>Numérique Entier</td>
                <td>&nbsp;</td>
                <td>✔</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>title</td>
                <td>Titre du livre</td>
                <td>Texte</td>
                <td>128</td>
                <td>✔</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>lang</td>
                <td>Langue utilisée par le livre</td>
                <td>Texte</td>
                <td>3</td>
                <td>✔</td>
                <td>"ENG"</td>
                <td>LONG(language) = 3</td>
              </tr>
              <tr>
                <td>pages</td>
                <td>Nombre de pages du livre</td>
                <td>Numérique Entier</td>
                <td>&nbsp;</td>
                <td>✔</td>
                <td>&nbsp;</td>
                <td>&ge; 0</td>
              </tr>
              <tr>
                <td>author_name</td>
                <td>Nom du l'auteur</td>
                <td>Texte</td>
                <td>128</td>
                <td>✔</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>pub_date</td>
                <td>Date du publication du livre</td>
                <td>Date</td>
                <td>&nbsp;</td>
                <td>✔</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
      <li>
        <div class="question">Créer la table <code>books</code>.
          <p>Les enregistrement de la table sont identifiés par la colonne <code>book_id</code>.</p>
        </div>
        <div class="query" data-typecontrol="textarea" data-rows="8"></div>
        <pre class="correctQuery">CREATE TABLE books (
  book_id INT PRIMARY KEY AUTO_INCREMENT,
  title VARCHAR(128) NOT NULL,
  lang VARCHAR(3) NOT NULL DEFAULT "ENG" CHECK(LENGTH(lang) = 3),
  pages INT CHECK(pages > 0),
  author_name VARCHAR(128),
  pub_date DATE
);</pre>
        <pre class="userQuery">CREATE TABLE books</pre>
      </li>
      <li>
        <div class="question">Remplir la table <code>books</code> par les données suivantes :
          <pre style="font-size: 0.8em;"><code class="nohighlight">+---------+-------------------------+------+-------+----------------------------------+------------+
| book_id | title                   | lang | pages | author_name                      | pub_date   |
+---------+-------------------------+------+-------+----------------------------------+------------+
|       1 | The Prophet             | ENG  |   127 | Jihad El                         | 2010-01-01 |
|       2 | After the Funeral       | ENG  |   251 | Agatha Christie                  | 2001-07-02 |
|       3 | Rage of Angels          | ENG  |   512 | Sidney Sheldon                   | 1999-08-03 |
|       4 | Sacrament               | ENG  |   594 | Clive Barker                     | 1997-05-01 |
|       5 | The Little House        | ENG  |   368 | Philippa Gregory                 | 1998-02-01 |
|       6 | Scandalous Risks        | ENG  |   480 | Susan Howatch                    | 2009-07-22 |
|       7 | Zelda's Cut             | ENG  |   432 | Philippa Gregory                 | 2001-02-01 |
|       8 | Spares                  | ENG  |   317 | Michael Marshall Smith           | 1998-11-02 |
|       9 | The Wise Woman          | ENG  |   640 | Philippa Gregory                 | 2002-02-01 |
|      10 | Ocean Star Express      | ENG  |    32 | Mark Haddon                      | 2002-07-01 |
|      11 | Image-Music-Text        | ENG  |   220 | Roland Barthes                   | 1993-09-13 |
|      12 | The Annotated Hobbit    | ENG  |   411 | Douglas A. Anderson              | 2003-04-07 |
|      13 | How to Be Alone         | ENG  |   306 | Jonathan Franzen                 | 2007-07-02 |
|      14 | The Opposite of Fate    | ENG  |   398 | Amy Tan                          | 2004-07-01 |
|      15 | Oh Say Can You Say?     | ENG  |    36 | Dr. Seuss                        | 2005-11-01 |
|      16 | Microserfs              | ENG  |   371 | Douglas Coupland                 | 2008-01-01 |
|      17 | Where Rainbows End      | ENG  |   454 | Cecelia Ahern                    | 2004-11-08 |
|      18 | The Known World         | ENG  |   388 | Kevin R. Free                    | 2004-10-01 |
|      19 | The Mandarins           | ENG  |   752 | Leonard M. Friedman              | 2005-05-03 |
|      20 | Angela's Ashes          | ENG  |   224 | Frank McCourt                    | 1998-12-17 |
|      21 | The Song of Rhiannon    | ENG  |   208 | Evangeline Walton                | 1992-09-01 |
|      22 | Winter Cottage          | ENG  |   178 | Carol Ryrie Brink                | 1974-06-01 |
|      23 | Seaward                 | ENG  |   167 | Susan Cooper                     | 1987-04-30 |
|      24 | Reason in History       | ENG  |    95 | Georg Wilhelm Friedrich Hegel    | 1995-12-24 |
|      25 | El plan infinito        | SPA  |   336 | Isabel Allende                   | 2002-05-14 |
|      26 | The Museum of Dr. Moses | ENG  |   229 | Joyce Carol Oates                | 2007-08-06 |
|      27 | Purgatorio              | ITA  |   704 | Dante Alighieri                  | 2004-04-08 |
|      28 | La chute                | FRA  |   152 | Albert Camus                     | 1999-01-11 |
|      29 | Ve  perro ¡Ve!          | SPA  |    24 | Adolfo Pérez Perdomo             | 2003-02-25 |
|      30 | Boltzmon!               | ENG  |   160 | William Sleator                  | 1999-09-01 |
|      31 | La Milla Verde          | SPA  |   448 | María Eugenia Ciocchini Suárez   | 2002-03-26 |
|      32 | La Dernière Leçon       | FRA  |   209 | Mitch Albom                      | 2001-01-01 |
|      33 | Un nuevo amanecer       | SPA  |   560 | Delia Mateovich                  | 2002-01-22 |
|      34 | Por los pelos           | SPA  |   592 | Marian Keyes                     | 2002-09-17 |
|      35 | 11 de Septiembre        | SPA  |   144 | Noam Chomsky                     | 2002-09-03 |
|      36 | Le Royaume fantôme      | FRA  |   251 | Norton Juster                    | 2003-01-15 |
|      37 | Ecstasy                 | FRA  |   358 | Alain Defossé                    | 2000-06-10 |
|      38 | Adieu  Chunky Rice      | SPA  |   128 | Craig Thompson                   | 2002-06-20 |
|      39 | Tiempo De Matar         | SPA  |    20 | John Grisham                     | 2003-07-01 |
|      40 | El talismán             | SPA  |   375 | Peter Straub                     | 2003-07-01 |
|      41 | Il genio dei numeri     | ITA  |   442 | Carlo Capararo                   | 2002-02-01 |
|      42 | Piccole donne           | ITA  |   288 | Jame's Prunier                   | 2001-04-15 |
|      43 | L'albero                | ITA  |    62 | Daniela Gamba                    | 2000-05-01 |
|      44 | La regina dei dannati   | ITA  |   507 | Anne Rice                        | 1997-02-01 |
+---------+-------------------------+------+-------+----------------------------------+------------+</code></pre>
        </div>
        <div class="query" data-typecontrol="textarea" data-rows="45"></div>
        <pre class="correctQuery">INSERT INTO books (book_id, title, lang, pages, author_name, pub_date)
  VALUES ('1', 'The Prophet', 'ENG', '127', 'Jihad El', '2010-01-01'),
  ('2', 'After the Funeral', 'ENG', '251', 'Agatha Christie', '2001-07-02'),
  ('3', 'Rage of Angels', 'ENG', '512', 'Sidney Sheldon', '1999-08-03'),
  ('4', 'Sacrament', 'ENG', '594', 'Clive Barker', '1997-05-01'),
  ('5', 'The Little House', 'ENG', '368', 'Philippa Gregory', '1998-02-01'),
  ('6', 'Scandalous Risks', 'ENG', '480', 'Susan Howatch', '2009-07-22'),
  ('7', 'Zelda\'s Cut', 'ENG', '432', 'Philippa Gregory', '2001-02-01'),
  ('8', 'Spares', 'ENG', '317', 'Michael Marshall Smith', '1998-11-02'),
  ('9', 'The Wise Woman', 'ENG', '640', 'Philippa Gregory', '2002-02-01'),
  ('10', 'Ocean Star Express', 'ENG', '32', 'Mark Haddon', '2002-07-01'),
  ('11', 'Image-Music-Text', 'ENG', '220', 'Roland Barthes', '1993-09-13'),
  ('12', 'The Annotated Hobbit', 'ENG', '411', 'Douglas A. Anderson', '2003-04-07'),
  ('13', 'How to Be Alone', 'ENG', '306', 'Jonathan Franzen', '2007-07-02'),
  ('14', 'The Opposite of Fate', 'ENG', '398', 'Amy Tan', '2004-07-01'),
  ('15', 'Oh Say Can You Say?', 'ENG', '36', 'Dr. Seuss', '2005-11-01'),
  ('16', 'Microserfs', 'ENG', '371', 'Douglas Coupland', '2008-01-01'),
  ('17', 'Where Rainbows End', 'ENG', '454', 'Cecelia Ahern', '2004-11-08'),
  ('18', 'The Known World', 'ENG', '388', 'Kevin R. Free', '2004-10-01'),
  ('19', 'The Mandarins', 'ENG', '752', 'Leonard M. Friedman', '2005-05-03'),
  ('20', 'Angela\'s Ashes', 'ENG', '224', 'Frank McCourt', '1998-12-17'),
  ('21', 'The Song of Rhiannon', 'ENG', '208', 'Evangeline Walton', '1992-09-01'),
  ('22', 'Winter Cottage', 'ENG', '178', 'Carol Ryrie Brink', '1974-06-01'),
  ('23', 'Seaward', 'ENG', '167', 'Susan Cooper', '1987-04-30'),
  ('24', 'Reason in History', 'ENG', '95', 'Georg Wilhelm Friedrich Hegel', '1995-12-24'),
  ('25', 'El plan infinito', 'SPA', '336', 'Isabel Allende', '2002-05-14'),
  ('26', 'The Museum of Dr. Moses', 'ENG', '229', 'Joyce Carol Oates', '2007-08-06'),
  ('27', 'Purgatorio', 'ITA', '704', 'Dante Alighieri', '2004-04-08'),
  ('28', 'La chute', 'FRA', '152', 'Albert Camus', '1999-01-11'),
  ('29', 'Ve  perro ¡Ve!', 'SPA', '24', 'Adolfo Pérez Perdomo', '2003-02-25'),
  ('30', 'Boltzmon!', 'ENG', '160', 'William Sleator', '1999-09-01'),
  ('31', 'La Milla Verde', 'SPA', '448', 'María Eugenia Ciocchini Suárez', '2002-03-26'),
  ('32', 'La Dernière Leçon', 'FRA', '209', 'Mitch Albom', '2001-01-01'),
  ('33', 'Un nuevo amanecer', 'SPA', '560', 'Delia Mateovich', '2002-01-22'),
  ('34', 'Por los pelos', 'SPA', '592', 'Marian Keyes', '2002-09-17'),
  ('35', '11 de Septiembre', 'SPA', '144', 'Noam Chomsky', '2002-09-03'),
  ('36', 'Le Royaume fantôme', 'FRA', '251', 'Norton Juster', '2003-01-15'),
  ('37', 'Ecstasy', 'FRA', '358', 'Alain Defossé', '2000-06-10'),
  ('38', 'Adieu  Chunky Rice', 'SPA', '128', 'Craig Thompson', '2002-06-20'),
  ('39', 'Tiempo De Matar', 'SPA', '20', 'John Grisham', '2003-07-01'),
  ('40', 'El talismán', 'SPA', '375', 'Peter Straub', '2003-07-01'),
  ('41', 'Il genio dei numeri', 'ITA', '442', 'Carlo Capararo', '2002-02-01'),
  ('42', 'Piccole donne', 'ITA', '288', 'Jame\'s Prunier', '2001-04-15'),
  ('43', 'L\'albero', 'ITA', '62', 'Daniela Gamba', '2000-05-01'),
  ('44', 'La regina dei dannati', 'ITA', '507', 'Anne Rice', '1997-02-01');</pre>
        <pre class="userQuery">INSERT INTO books (book_id, title, lang, pages, author_name, pub_date)
    VALUES (...),
    (...),
    ('3', 'Rage of Angels', 'ENG', '512', 'Sidney Sheldon', '1999-08-03'),
    ('4', 'Sacrament', 'ENG', '594', 'Clive Barker', '1997-05-01'),
    ('5', 'The Little House', 'ENG', '368', 'Philippa Gregory', '1998-02-01'),
    ('6', 'Scandalous Risks', 'ENG', '480', 'Susan Howatch', '2009-07-22'),
    ('7', 'Zelda\'s Cut', 'ENG', '432', 'Philippa Gregory', '2001-02-01'),
    ('8', 'Spares', 'ENG', '317', 'Michael Marshall Smith', '1998-11-02'),
    ('9', 'The Wise Woman', 'ENG', '640', 'Philippa Gregory', '2002-02-01'),
    ('10', 'Ocean Star Express', 'ENG', '32', 'Mark Haddon', '2002-07-01'),
    ('11', 'Image-Music-Text', 'ENG', '220', 'Roland Barthes', '1993-09-13'),
    ('12', 'The Annotated Hobbit', 'ENG', '411', 'Douglas A. Anderson', '2003-04-07'),
    ('13', 'How to Be Alone', 'ENG', '306', 'Jonathan Franzen', '2007-07-02'),
    ('14', 'The Opposite of Fate', 'ENG', '398', 'Amy Tan', '2004-07-01'),
    ('15', 'Oh Say Can You Say?', 'ENG', '36', 'Dr. Seuss', '2005-11-01'),
    ('16', 'Microserfs', 'ENG', '371', 'Douglas Coupland', '2008-01-01'),
    ('17', 'Where Rainbows End', 'ENG', '454', 'Cecelia Ahern', '2004-11-08'),
    ('18', 'The Known World', 'ENG', '388', 'Kevin R. Free', '2004-10-01'),
    ('19', 'The Mandarins', 'ENG', '752', 'Leonard M. Friedman', '2005-05-03'),
    ('20', 'Angela\'s Ashes', 'ENG', '224', 'Frank McCourt', '1998-12-17'),
    ('21', 'The Song of Rhiannon', 'ENG', '208', 'Evangeline Walton', '1992-09-01'),
    ('22', 'Winter Cottage', 'ENG', '178', 'Carol Ryrie Brink', '1974-06-01'),
    ('23', 'Seaward', 'ENG', '167', 'Susan Cooper', '1987-04-30'),
    ('24', 'Reason in History', 'ENG', '95', 'Georg Wilhelm Friedrich Hegel', '1995-12-24'),
    ('25', 'El plan infinito', 'SPA', '336', 'Isabel Allende', '2002-05-14'),
    ('26', 'The Museum of Dr. Moses', 'ENG', '229', 'Joyce Carol Oates', '2007-08-06'),
    ('27', 'Purgatorio', 'ITA', '704', 'Dante Alighieri', '2004-04-08'),
    ('28', 'La chute', 'FRA', '152', 'Albert Camus', '1999-01-11'),
    ('29', 'Ve  perro ¡Ve!', 'SPA', '24', 'Adolfo Pérez Perdomo', '2003-02-25'),
    ('30', 'Boltzmon!', 'ENG', '160', 'William Sleator', '1999-09-01'),
    ('31', 'La Milla Verde', 'SPA', '448', 'María Eugenia Ciocchini Suárez', '2002-03-26'),
    ('32', 'La Dernière Leçon', 'FRA', '209', 'Mitch Albom', '2001-01-01'),
    ('33', 'Un nuevo amanecer', 'SPA', '560', 'Delia Mateovich', '2002-01-22'),
    ('34', 'Por los pelos', 'SPA', '592', 'Marian Keyes', '2002-09-17'),
    ('35', '11 de Septiembre', 'SPA', '144', 'Noam Chomsky', '2002-09-03'),
    ('36', 'Le Royaume fantôme', 'FRA', '251', 'Norton Juster', '2003-01-15'),
    ('37', 'Ecstasy', 'FRA', '358', 'Alain Defossé', '2000-06-10'),
    ('38', 'Adieu  Chunky Rice', 'SPA', '128', 'Craig Thompson', '2002-06-20'),
    ('39', 'Tiempo De Matar', 'SPA', '20', 'John Grisham', '2003-07-01'),
    ('40', 'El talismán', 'SPA', '375', 'Peter Straub', '2003-07-01'),
    ('41', 'Il genio dei numeri', 'ITA', '442', 'Carlo Capararo', '2002-02-01'),
    ('42', 'Piccole donne', 'ITA', '288', 'Jame\'s Prunier', '2001-04-15'),
    ('43', 'L\'albero', 'ITA', '62', 'Daniela Gamba', '2000-05-01'),
    ('44', 'La regina dei dannati', 'ITA', '507', 'Anne Rice', '1997-02-01');</pre>
      </li>
      <li>
        <div class="question">
          Insérer les données suivantes :
          <pre><code class="sql">INSERT INTO books (title, lang) VALUES ('MySQL', 'FR');</code></pre>
          <strong>Que remarquez-vous ?</strong>
        </div>
        <div class="query" data-typecontrol="textarea" data-rows="1"></div>
        <pre class="correctQuery">INSERT INTO books (title, lang) VALUES ('MySQL', 'FR');</pre>
        <pre class="userQuery">INSERT INTO books (title, lang) VALUES ('MySQL', 'FR');</pre>
      </li>
      <li>
        <div class="question">Afficher la liste de tous les livres.</div>
        <div class="query" data-typecontrol="textarea" data-rows="1"></div>
        <pre class="correctQuery">SELECT * FROM books;</pre>
        <pre class="userQuery">SELECT ...;</pre>
      </li>
      <li>
        <div class="question">Afficher la liste des cinq premiers livres de la liste.</div>
        <div class="query" data-typecontrol="textarea" data-rows="1"></div>
        <pre class="correctQuery">SELECT * FROM books LIMIT 5;</pre>
        <pre class="userQuery">SELECT ...;</pre>
      </li>
      <li>
        <div class="question">Afficher la liste des cinq derniers livres de la liste sans les ordonner.</div>
        <div class="query" data-typecontrol="textarea" data-rows="1"></div>
        <pre class="correctQuery">SELECT * FROM books LIMIT 39, 5;</pre>
        <pre class="userQuery">SELECT ...;</pre>
      </li>
      <li>
        <div class="question">Afficher les cinq livres les plus récents par ordre de leurs date de publication.</div>
        <div class="query" data-typecontrol="textarea" data-rows="1"></div>
        <pre class="correctQuery">SELECT * FROM books ORDER BY pub_date DESC LIMIT 5;</pre>
        <pre class="userQuery">SELECT ...;</pre>
      </li>
      <li>
        <div class="question">Afficher la liste des livres en français (book_id, title, author_name).</div>
        <div class="query" data-typecontrol="textarea" data-rows="1"></div>
        <pre class="correctQuery">SELECT book_id, title, author_name FROM books WHERE lang = 'FRA';</pre>
        <pre class="userQuery">SELECT ...;</pre>
      </li>
      <li>
        <div class="question">Afficher le livre français le plus vieux dans la collection (title, author_name,
          pub_date).</div>
        <div class="query" data-typecontrol="textarea" data-rows="1"></div>
        <pre
          class="correctQuery">SELECT title, author_name, pub_date FROM books WHERE lang = 'FRA' ORDER BY pub_date LIMIT 1;</pre>
        <pre class="userQuery">SELECT ...;</pre>
      </li>
      <li>
        <div class="question">Afficher les langues des livres sans répétitions.</div>
        <div class="query" data-typecontrol="textarea" data-rows="1"></div>
        <pre class="correctQuery">SELECT DISTINCT lang FROM books;</pre>
        <pre class="userQuery">SELECT ...;</pre>
      </li>
      <li>
        <div class="question">Afficher les livres anglais par ordre alphabétique croissant du titre.</div>
        <div class="query" data-typecontrol="textarea" data-rows="1"></div>
        <pre class="correctQuery">SELECT * FROM books WHERE lang = 'ENG' ORDER BY title;</pre>
        <pre class="userQuery">SELECT ...;</pre>
      </li>
      <li>
        <div class="question">Afficher la liste des livres anglais qui commencent par la lettre 's'. Ordonner le
          résultat par ordre
          décroissant de la date de publication.</div>
        <div class="query" data-typecontrol="textarea" data-rows="3"></div>
        <pre class="correctQuery">SELECT * FROM books 
WHERE lang = 'ENG' AND title LIKE 's%'
ORDER BY pub_date DESC;</pre>
        <pre class="userQuery">SELECT ...;</pre>
      </li>
      <li>
        <div class="question">Afficher la liste des livres écrits par l'auteur 'Philippa Gregory'.</div>
        <div class="query" data-typecontrol="textarea" data-rows="3"></div>
        <pre class="correctQuery">SELECT * FROM books
WHERE author_name = 'Philippa Gregory'
ORDER BY pub_date DESC;</pre>
        <pre class="userQuery">SELECT ...;</pre>
      </li>
      <li>
        <div class="question">Afficher la liste des livres qui comptent moins de 100 pages par ordre croissant du nombre
          de pages.</div>
        <div class="query" data-typecontrol="textarea" data-rows="3"></div>
        <pre class="correctQuery">SELECT * FROM books
WHERE pages < 100
ORDER BY pages;</pre>
        <pre class="userQuery">SELECT ...;</pre>
      </li>
      <li>
        <div class="question">Afficher la liste du top 5 des livres en fonction du nombre de pages.</div>
        <div class="query" data-typecontrol="textarea" data-rows="3"></div>
        <pre class="correctQuery">SELECT * FROM books
ORDER BY pages DESC
LIMIT 5;</pre>
        <pre class="userQuery">SELECT ...;</pre>
      </li>
      <li>
        <div class="question">Afficher la liste des années de publiation de tous les livres sans duplications.</div>
        <div class="query" data-typecontrol="textarea" data-rows="1"></div>
        <pre class="correctQuery">SELECT DISTINCT YEAR(pub_date) AS year FROM books ORDER BY year;</pre>
        <pre class="userQuery">SELECT ...;</pre>
      </li>
      <li>
        <div class="question">Afficher la liste des livres publiés en 2003.</div>
        <div class="query" data-typecontrol="textarea" data-rows="1"></div>
        <pre class="correctQuery">SELECT * FROM books WHERE YEAR(pub_date) = 2003 ORDER BY pub_date;</pre>
        <pre class="userQuery">SELECT ...;</pre>
      </li>
      <li>
        <div class="question">Afficher la liste des livres publiés dans la période [1974, 1995].</div>
        <div class="query" data-typecontrol="textarea" data-rows="1"></div>
        <pre
          class="correctQuery">SELECT * FROM books WHERE YEAR(pub_date) BETWEEN 1974 AND 1995 ORDER BY pub_date;</pre>
        <pre class="userQuery">SELECT ...;</pre>
      </li>
      <li>
        <div class="question">Afficher la liste des livres italiens qui commencent par la lettre 'P' ou qui comptent
          moins de 70 pages.</div>
        <div class="query" data-typecontrol="textarea" data-rows="1"></div>
        <pre class="correctQuery">SELECT * FROM books WHERE lang = 'ITA' AND (title LIKE 'P%' OR pages < 70);</pre>
        <pre class="userQuery">SELECT ...;</pre>
      </li>
    </ol>
  </main>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/highlight.min.js"></script>
  <script>
    document.querySelectorAll("#questions pre>code").forEach(block => hljs.highlightElement(block));
  </script>
  <script src="assets/js/vue.min.js"></script>
  <script src="assets/apps/app04.js"></script>
</body>

</html>