<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TP n°5</title>
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/default.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
  <main id="main" class="container">
    <h1>TP n°5</h1>
    <div class="my-1 connection-params" v-if="!isConnected" data-num-tp="6" data-base="notes">
      <div class="my-1"><strong>Connexion au serveur de base de données.</strong></div>
      <div class="my-1">
        <label for="server">Serveur</label>
        <input type="text" id="serer" class="form-control" v-model="connectionSettings.host">
      </div>
      <div class="my-1">
        <label for="user">Utilisateur</label>
        <input type="text" class="form-control" v-model="connectionSettings.user" placeholder="aucun">
      </div>
      <div class="my-1">
        <label for="server">Mot de passe</label>
        <input type="password" class="form-control" v-model="connectionSettings.password" placeholder="aucun">
      </div>
      <div class="my-1">
        <label for="server">Base de données</label>
        <input type="text" class="form-control" v-model="connectionSettings.dbName" placeholder="aucun" readonly>
      </div>
      <div class="my-1">
        <label><input type="checkbox" v-model="connectionSettings.dropAndCreateDatabase"> Supprimer et recréer la base
          de données</label>
      </div>
      <div class="my-1">
        <button type="button" class="btn btn-primary" v-on:click="connectToServer()">Connecter</button>
        <button type="button" class="btn btn-danger" v-on:click="resetAnswersClicked()">Effacer les réponses...</button>
      </div>
      <div class="my-1 text-danger" v-if="!connectQuery.success" v-html="connectQuery.data?.error"></div>
      <div class="my-1 text-success" v-if="connectQuery.success" v-html="connectQuery.data?.message"></div>
    </div>

    <div class="my-1" v-if="connectQuery.success">
      <ol>
        <li v-for="question, idxQs in allQuestions">
          <div class="my-1" v-html="question.description"></div>
          <div class="my-1" v-for="query, idxQ in question.queries">
            <textarea class="form-control" v-bind:rows="query.numRows" v-model="query.answer"></textarea>
            <div class="my-1 text-danger" v-if="!query.success && query.execCount > 0" v-html="query.data.error"></div>
            <div class="my-1 text-success d-print-none" v-if="query.success && query.execCount > 0"
              v-html="query.data.message"></div>
            <div class="my-1 d-print-none">
              <button type="button" class="btn"
                v-bind:class="{'btn-primary': query.execCount == 0, 'btn-secondary': query.execCount > 0 && query.execCount <= minExecCount, 'btn-success': query.execCount > minExecCount}"
                v-on:click="executeQuery(query)">Exécuter
                la requête [{{query.execCount}}]</button>
              <button type="button" class="btn btn-warning" v-if="query.execCount > minExecCount && !query.showAns"
                v-on:click="showAnswerClicked(query)">Afficher la correction</button>
            </div>
            <div class="my-1" v-if="hasData(query)">
              <table class="table table-sm table-bordered table-striped border-dark">
                <thead>
                  <tr>
                    <th v-for="column in getColumns(query)">{{column}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="row in getAllRows(query)">
                    <td v-for="col in Object.keys(row)">{{row[col]}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="my-1 d-print-none" v-if="query.showAns">
              <h3>Correction</h3>
              <pre v-bind:id="'query-answer-'+idxQs+'-'+idxQ"><code class="sql" v-html="query.correct"></code></pre>
              <div class="my-1">
                <button type="button" class="btn btn-info" v-if="query.answer != query.correct"
                  v-on:click="pasteAnswerClicked(query)">Copier/Coller</button>
              </div>
            </div>
          </div>
        </li>
      </ol>
    </div>


    <div id="questions" class="d-none">

      <div class="question">
        <div class="description">
          <p>Soit la table <code>notes</code> suivante :</p>
          <table class="table table-sm table-bordered table-striped border-dark mb-2 n5-col-eq">
            <thead>
              <tr>
                <th>ideleve</th>
                <th>trim</th>
                <th>idex</th>
                <th>note</th>
                <th>coef</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>0.5</td>
                <td>1</td>
              </tr>
              <tr>
                <td>1</td>
                <td>1</td>
                <td>2</td>
                <td>13.75</td>
                <td>2</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>1</td>
                <td>4.5</td>
                <td>1</td>
              </tr>
              <tr>
                <td>1</td>
                <td>2</td>
                <td>2</td>
                <td>0.75</td>
                <td>2</td>
              </tr>
              <tr>
                <td>2</td>
                <td>1</td>
                <td>1</td>
                <td>10</td>
                <td>1</td>
              </tr>
              <tr>
                <td>2</td>
                <td>1</td>
                <td>2</td>
                <td>19.5</td>
                <td>2</td>
              </tr>
              <tr>
                <td>2</td>
                <td>2</td>
                <td>1</td>
                <td>19</td>
                <td>1</td>
              </tr>
              <tr>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>1</td>
                <td>2</td>
              </tr>
              <tr>
                <td>3</td>
                <td>2</td>
                <td>2</td>
                <td>13</td>
                <td>2</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="question">
        <div class="description">
          Créer la table <code>notes</code>.
        </div>
        <div class="query" data-typecontrol="textarea" data-rows="7">
          <pre class="correct">CREATE TABLE IF NOT EXISTS notes (
  ideleve INT NOT NULL,
  trim INT NOT NULL,
  idex INT NOT NULL,
  note DOUBLE NOT NULL DEFAULT 0 CHECK(note >= 0 AND note <= 20),
  coef DOUBLE NOT NULL DEFAULT 1 CHECK(coef > 0),
  PRIMARY KEY (ideleve, trim, idex)
);</pre>
          <div class="user">CREATE TABLE IF NOT EXISTS notes (
  ideleve INT NOT NULL,
  trim INT NOT NULL,
  idex INT NOT NULL,
  note DOUBLE NOT NULL DEFAULT 0 CHECK(note >= 0 AND note <= 20),
  coef DOUBLE NOT NULL DEFAULT 1 CHECK(coef > 0),
  PRIMARY KEY (ideleve, trim, idex)
);</div>
        </div>
      </div>
      
      <div class="question">
        <div class="description">Insérer les données dans la table <code>notes</code>.</div>
        <div class="query" data-typecontrol="textarea" data-rows="9">
          <div class="correct">INSERT INTO notes VALUES (1,1,1,0.5,1), 
    (1,1,2,13.75,2), 
    (1,2,1,4.5,1),
    (1,2,2,0.75,2),
    (2,1,1,10,1),
    (2,1,2,19.5,2),
    (2,2,1,19,1),
    (2,2,2,1,2),
    (3,2,2,13,2);</div>
          <div class="user">INSERT INTO notes VALUES (1,1,1,0.5,1), 
    (1,1,2,13.75,2), 
    (1,2,1,4.5,1),
    (1,2,2,0.75,2),
    (2,1,1,10,1),
    (2,1,2,19.5,2),
    (2,2,1,19,1),
    (2,2,2,1,2),
    (3,2,2,13,2);</div>
        </div>
        <div class="question">
          <div class="description">Afficher le nombre de lignes dans la table.</div>
          <div class="query">
            <div class="correct">SELECT COUNT(*) AS nbre_lignes FROM notes;</div>
            <div class="user">SELECT</div>
          </div>
        </div>
        <div class="question">
          <div class="description">Afficher le nombre d’élèves.</div>
          <div class="query">
            <div class="correct">SELECT COUNT(DISTINCT ideleve) AS nbr_eleves FROM notes;</div>
            <div class="user">SELECT</div>
          </div>
        </div>
        <div class="question">
          <div class="description">Afficher la note minimale et maximale.</div>
          <div class="query" data-typecontrol="textarea" data-rows="2">
            <div class="correct">SELECT MIN(note) AS mn, MAX(note) AS mx
FROM notes;</div>
            <div class="user">SELECT</div>
          </div>
        </div>
        <!-- .question>.description+.query>.correct+.user -->
        <div class="question">
          <div class="description">Afficher la moyenne arithmétique des notes de l’élève numéro 1 en 1er trimestre.</div>
          <div class="query" data-typecontrol="textarea" data-rows="3">
            <div class="correct">SELECT AVG(note) as moyenne
FROM notes
WHERE trim = 1 AND ideleve = 1;</div>
            <div class="user">SELECT</div>
          </div>
        </div>
        <div class="question">
          <div class="description">Afficher le nombre de notes au-dessus de la moyenne.</div>
          <div class="query" data-typecontrol="textarea" data-rows="3">
            <div class="correct">SELECT COUNT(note) AS nbr_notes
FROM notes
WHERE note >= 10;</div>
            <div class="user">SELECT</div>
          </div>
        </div>
        <div class="question">
          <div class="description">Afficher le nombre de notes entre 8 et 10.</div>
          <div class="query" data-typecontrol="textarea" data-rows="3">
            <div class="correct">SELECT COUNT(note) AS nbr_notes
FROM notes
WHERE note BETWEEN 8 AND 10;</div>
            <div class="user">SELECT</div>
          </div>
        </div>
        <div class="question">
          <div class="description">Afficher la somme des coefficients pour l’élève n°1 au 1er trimestre.</div>
          <div class="query" data-typecontrol="textarea" data-rows="3">
            <div class="correct">SELECT SUM(coef) AS som_coef
FROM notes
WHERE ideleve = 1 AND trim = 1;</div>
            <div class="user">SELECT</div>
          </div>
        </div>
        <div class="question">
          <div class="description">Afficher le total de calcul de (note*coef) pour l’élève n°1 au 1er trimestre.</div>
          <div class="query" data-typecontrol="textarea" data-rows="3">
            <div class="correct">SELECT SUM(note * coef) AS somme
FROM notes
WHERE ideleve = 1 AND trim = 1;</div>
            <div class="user">SELECT</div>
          </div>
        </div>
        <div class="question">
          <div class="description">Afficher la moyenne de l’élève n°1 au 1er trimestre.</div>
          <div class="query" data-typecontrol="textarea" data-rows="3">
            <div class="correct">SELECT SUM(note * coef) / SUM(coef) AS moyenne
FROM notes
WHERE ideleve = 1 AND trim = 1;</div>
            <div class="user">SELECT</div>
          </div>
        </div>
      </div>

  </main>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/highlight.min.js"></script>
  <script>
    document.querySelectorAll("#questions pre>code").forEach(block => hljs.highlightElement(block));
  </script>
  <script src="assets/js/vue.min.js"></script>
  <script src="assets/apps/app05.js"></script>
</body>

</html>