<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TP n°5</title>
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/default.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
  <main id="main" class="container">
    <h1>TP n°5</h1>
    <div class="my-1 connection-params" v-if="!isConnected" data-num-tp="6" data-base="hopital">
      <div class="my-1"><strong>Connexion au serveur de base de données.</strong></div>
      <div class="my-1">
        <label for="server">Serveur</label>
        <input type="text" id="serer" class="form-control" v-model="connectionSettings.host">
      </div>
      <div class="my-1">
        <label for="user">Utilisateur</label>
        <input type="text" class="form-control" v-model="connectionSettings.user" placeholder="aucun">
      </div>
      <div class="my-1">
        <label for="server">Mot de passe</label>
        <input type="password" class="form-control" v-model="connectionSettings.password" placeholder="aucun">
      </div>
      <div class="my-1">
        <label for="server">Base de données</label>
        <input type="text" class="form-control" v-model="connectionSettings.dbName" placeholder="aucun" readonly>
      </div>
      <div class="my-1">
        <label><input type="checkbox" v-model="connectionSettings.dropAndCreateDatabase"> Supprimer et recréer
          la base
          de données</label>
      </div>
      <div class="my-1">
        <button type="button" class="btn btn-primary" v-on:click="connectToServer()">Connecter</button>
        <button type="button" class="btn btn-danger" v-on:click="resetAnswersClicked()">Effacer les
          réponses...</button>
      </div>
      <div class="my-1 text-danger" v-if="!connectQuery.success" v-html="connectQuery.data?.error"></div>
      <div class="my-1 text-success" v-if="connectQuery.success" v-html="connectQuery.data?.message"></div>
    </div>

    <div class="my-1" v-if="connectQuery.success">
      <ol>
        <li v-for="question, idxQs in allQuestions">
          <div class="my-1" v-html="question.description"></div>
          <div class="my-1" v-for="query, idxQ in question.queries">
            <textarea class="d-print-none form-control" v-bind:rows="query.numRows" v-model="query.answer"></textarea>
            <pre class="d-none d-print-block"><code class="sql" v-html="query.correct"></code></pre>
            <div class="my-1 text-danger" v-if="!query.success && query.execCount > 0" v-html="query.data.error"></div>
            <div class="my-1 text-success d-print-none" v-if="query.success && query.execCount > 0"
              v-html="query.data.message"></div>
            <div class="my-1 d-print-none">
              <button type="button" class="btn"
                v-bind:class="{'btn-primary': query.execCount == 0, 'btn-secondary': query.execCount > 0 && query.execCount <= minExecCount, 'btn-success': query.execCount > minExecCount}"
                v-on:click="executeQuery(query)">Exécuter la requête [{{query.execCount}}]</button>
              <button type="button" class="btn btn-warning" v-if="query.execCount > minExecCount && !query.showAns"
                v-on:click="showAnswerClicked(query)">Afficher la correction</button>
            </div>
            <div class="my-1" v-if="hasData(query)">
              <table class="table table-sm table-bordered table-striped border-dark">
                <thead>
                  <tr>
                    <th v-for="column in getColumns(query)">{{column}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="row in getAllRows(query)">
                    <td v-for="col in Object.keys(row)">{{row[col]}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="my-1 d-print-none" v-if="query.showAns">
              <h3>Correction</h3>
              <pre v-bind:id="'query-answer-'+idxQs+'-'+idxQ"><code class="sql" v-html="query.correct"></code></pre>
              <div class="my-1">
                <button type="button" class="btn btn-info" v-if="query.answer != query.correct"
                  v-on:click="pasteAnswerClicked(query)">Copier/Coller</button>
              </div>
            </div>
          </div>
        </li>
      </ol>
    </div>


    <div id="questions" class="d-none">

      <div class="question">
        <div class="description">
          <p>Afin de gérer les hospitalisations des patients des différents services d'un hôpital, on se
            propose de
            créer la base de données intitulée "Gestion_Hospitalisation" définie par le schéma relationnel
            simplifié
            suivant:</p>
          <blockquote>
            <p><strong>service(<u>NumServ</u>, LibServ)</strong></p>
            <p><strong>patient(<u>CodePat</u>, Nom, Prénom, DateNaiss, Mutuelle)</strong></p>
            <p><strong>hospitalisation(<u>NumServ#, CodePat#, DateEntree</u>, DateSortie, Frais)</strong>
            </p>
          </blockquote>
        </div>
      </div>
      <div class="question">
        <div class="description">
          Créer la table <code>service</code>.
        </div>
        <div class="query" data-typecontrol="textarea" data-rows="4">
          <pre class="correct">CREATE TABLE service (
  NumServ INT NOT NULL PRIMARY KEY,
  LibServ VARCHAR(32) NOT NULL
);</pre>
          <pre class="user">CREATE TABLE service (
  NumServ INT NOT NULL PRIMARY KEY,
  LibServ VARCHAR(32) NOT NULL
);</pre>
        </div>
      </div>
      <div class="question">
        <div class="description">
          Créer la table <code>patient</code>.
        </div>
        <div class="query" data-typecontrol="textarea" data-rows="8">
          <pre class="correct">CREATE TABLE patient (
  CodePat VARCHAR(6) NOT NULL PRIMARY KEY CHECK (LEFT(CodePat, 1) = 'P'),
  Nom VARCHAR(64) NOT NULL,
  Prenom VARCHAR(64) NOT NULL,
  DateNaiss DATE,
  Genre CHAR(1) NOT NULL DEFAULT 'M' CHECK(Genre IN ('M', 'F')),
  Mutuelle BOOLEAN DEFAULT 0
);</pre>
          <pre class="user">CREATE TABLE patient (
  CodePat VARCHAR(6) NOT NULL PRIMARY KEY CHECK (LEFT(CodePat, 1) = 'P'),
  Nom VARCHAR(64) NOT NULL,
  Prenom VARCHAR(64) NOT NULL,
  DateNaiss DATE,
  Genre CHAR(1) NOT NULL DEFAULT 'M' CHECK(Genre IN ('M', 'F')),
  Mutuelle BOOLEAN DEFAULT 0
);</pre>
        </div>
      </div>
      <div class="question">
        <div class="description">
          Créer la table <code>hospitalisation</code>.
        </div>
        <div class="query" data-typecontrol="textarea" data-rows="14">
          <pre class="correct">CREATE TABLE hospitalisation (
  NumServ INT NOT NULL,
  CodePat VARCHAR(6) NOT NULL,
  DateEntree DATE NOT NULL DEFAULT NOW(),
  DateSortie DATE CHECK(DateSortie >= DateEntree OR DateSortie IS NULL),
  Frais DOUBLE PRECISION NOT NULL DEFAULT 0 CHECK(Frais >= 0),
  PRIMARY KEY (NumServ, CodePat, DateEntree),
  FOREIGN KEY (NumServ) 
      REFERENCES service (NumServ)
      ON UPDATE CASCADE ON DELETE CASCADE,
  FOREIGN KEY (CodePat)
      REFERENCES patient (CodePat)
      ON UPDATE CASCADE ON DELETE CASCADE
);</pre>
          <pre class="user">CREATE TABLE hospitalisation (
  NumServ INT NOT NULL,
  CodePat VARCHAR(6) NOT NULL,
  DateEntree DATE NOT NULL DEFAULT NOW(),
  DateSortie DATE CHECK(DateSortie >= DateEntree OR DateSortie IS NULL),
  Frais DOUBLE PRECISION NOT NULL DEFAULT 0 CHECK(Frais >= 0),
  PRIMARY KEY (NumServ, CodePat, DateEntree),
  FOREIGN KEY (NumServ) 
      REFERENCES service (NumServ)
      ON UPDATE CASCADE ON DELETE CASCADE,
  FOREIGN KEY (CodePat)
      REFERENCES patient (CodePat)
      ON UPDATE CASCADE ON DELETE CASCADE
)</pre>
        </div>
      </div>
      <div class="question">
        <div class="description">
          Insérer les données suivantes dans la table <code>service</code>.
          <pre><code class="nohighlight">+---------+-------------+
| NumServ | LibServ     |
+---------+-------------+
|      10 | Urgences    |
|      20 | Cardiologie |
|      30 | Chirurgie   |
|      40 | Radiologie  |
|      50 | Laboratoire |
+---------+-------------+</code></pre>
          <p><strong>Compléter la requête suivante.</strong></p>
        </div>
        <div class="query" data-typecontrol="textarea" data-rows="6">
          <pre class="user">INSERT INTO ... (...)
VALUES (...),
  ('20','Cardiologie'),
  ('30','Chirurgie'),
  ('40','Radiologie'),
  ('50','Laboratoire');</pre>
          <pre class="correct">INSERT INTO service (NumServ, LibServ)
VALUES ('10','Urgences'),
  ('20','Cardiologie'),
  ('30','Chirurgie'),
  ('40','Radiologie'),
  ('50','Laboratoire');</pre>
        </div>
      </div>
      <div class="question">
        <div class="description">
          Insérer les données suivantes dans la table <code>patient</code>.
          <pre><code class="nohighlight">+---------+-----------+--------+------------+-------+----------+
| CodePat | Nom       | Prenom | DateNaiss  | Genre | Mutuelle |
+---------+-----------+--------+------------+-------+----------+
| P13     | Dhieb     | Hamed  | 1965-07-21 | M     |        1 |
| P16     | Karrout   | Hedia  | 2004-02-09 | F     |        1 |
+---------+-----------+--------+------------+-------+----------+</code></pre>
          <p><strong>Compléter la requête suivante.</strong></p>
        </div>
        <div class="query" data-typecontrol="textarea" data-rows="3">
          <pre class="user">INSERT INTO ...;</pre>
          <pre class="correct">INSERT INTO patient (CodePat, Nom, Prenom, Genre, DateNaiss, Mutuelle)
VALUES ('P13','Dhieb','Hamed','M','1965-07-21','1'),
  ('P16','Karrout','Hedia','F','2004-02-09','1');</pre>
        </div>
      </div>
      <div class="question">
        <div class="description">
          Insérer les données suivantes dans la table <code>hospitalisation</code>.
          <pre><code class="nohighlight">+---------+---------+------------+------------+-------+
| NumServ | CodePat | DateEntree | DateSortie | Frais |
+---------+---------+------------+------------+-------+
|      10 | P13     | 2021-06-28 | 2021-06-28 |   241 |
|      10 | P16     | 2021-06-12 | 2021-06-12 |   894 |
+---------+---------+------------+------------+-------+</code></pre>
          <p><strong>Compléter la requête suivante.</strong></p>
        </div>
        <div class="query" data-typecontrol="textarea" data-rows="3">
          <pre class="user">INSERT INTO ...;</pre>
          <pre class="correct">INSERT INTO hospitalisation (NumServ, CodePat, DateEntree, DateSortie, Frais)
VALUES ('10','P13','2021-06-28','2021-06-28','241.0'),
    ('10','P16','2021-06-12','2021-06-12','894.0');</pre>
        </div>
      </div>
      <div class="question">
        <div class="description">
          Insérer les données suivantes dans la table <code>patient</code>.
          <p><strong>Exécuter simplement la requête suivante.</strong></p>
        </div>
        <div class="query" data-typecontrol="textarea" data-rows="3">
          <pre class="user">INSERT INTO patient (CodePat, Nom, Prenom, Genre, DateNaiss, Mutuelle)
VALUES ('P19','Feki','Hichem','M','1950-07-23','0'),
  ('P22','Ben Salem','Souha','F','2007-06-29','1'),
  ('P25','Mejri','Sami','M','1985-06-16','0'),
  ('P28','Badii','Mayssa','F','1991-10-16','1'),
  ('P31','Ketari','Nabil','M','1984-04-11','1'),
  ('P34','Hamdi','Radhia','F','2004-09-04','0'),
  ('P37','Béji','Mejdi','M','1996-09-08','1'),
  ('P40','Khalil','Bochra','F','1956-03-21','1');</pre>
          <pre class="correct">INSERT INTO patient (CodePat, Nom, Prenom, Genre, DateNaiss, Mutuelle)
VALUES ('P19','Feki','Hichem','M','1950-07-23','0'),
  ('P22','Ben Salem','Souha','F','2007-06-29','1'),
  ('P25','Mejri','Sami','M','1985-06-16','0'),
  ('P28','Badii','Mayssa','F','1991-10-16','1'),
  ('P31','Ketari','Nabil','M','1984-04-11','1'),
  ('P34','Hamdi','Radhia','F','2004-09-04','0'),
  ('P37','Béji','Mejdi','M','1996-09-08','1'),
  ('P40','Khalil','Bochra','F','1956-03-21','1');</pre>
        </div>
      </div>
      <div class="question">
        <div class="description">
          Insérer les données suivantes dans la table <code>hospitalisation</code>.
          <p><strong>Exécuter simplement la requête suivante.</strong></p>
        </div>
        <div class="query" data-typecontrol="textarea" data-rows="3">
          <pre class="user">INSERT INTO hospitalisation (NumServ, CodePat, DateEntree, DateSortie, Frais)
VALUES ('30','P13','2021-06-29','2021-06-30','350.0'),
  ('40','P13','2021-06-29','2021-06-29','60.0'),
  ('50','P13','2021-06-29','2021-06-29','60.0'),
  ('30','P13','2021-08-21','2021-08-28','680.0'),
  ('40','P13','2021-08-21','2021-08-21','60.0'),
  ('50','P13','2021-08-21','2021-08-21','60.0'),
  ('40','P13','2021-08-23','2021-08-23','60.0'),
  ('50','P13','2021-08-23','2021-08-23','60.0'),
  ('40','P13','2021-08-24','2021-08-24','60.0'),
  ('50','P13','2021-08-24','2021-08-24','60.0'),
  ('40','P13','2021-08-25','2021-08-25','60.0'),
  ('50','P13','2021-08-25','2021-08-25','60.0'),
  ('40','P13','2021-08-27','2021-08-27','60.0'),
  ('50','P13','2021-08-27','2021-08-27','60.0'),
  ('30','P13','2021-08-29','2021-09-08','4290.0'),
  ('40','P13','2021-08-29','2021-08-29','60.0'),
  ('50','P13','2021-08-29','2021-08-29','60.0'),
  ('40','P13','2021-08-30','2021-08-30','60.0'),
  ('50','P13','2021-08-30','2021-08-30','60.0'),
  ('40','P13','2021-08-31','2021-08-31','60.0'),
  ('50','P13','2021-08-31','2021-08-31','60.0'),
  ('40','P13','2021-09-01','2021-09-01','60.0'),
  ('50','P13','2021-09-01','2021-09-01','60.0'),
  ('40','P13','2021-09-02','2021-09-02','60.0'),
  ('50','P13','2021-09-02','2021-09-02','60.0'),
  ('40','P13','2021-09-03','2021-09-03','60.0'),
  ('50','P13','2021-09-03','2021-09-03','60.0'),
  ('40','P13','2021-09-04','2021-09-04','60.0'),
  ('50','P13','2021-09-04','2021-09-04','60.0'),
  ('40','P13','2021-09-06','2021-09-06','60.0'),
  ('50','P13','2021-09-06','2021-09-06','60.0'),
  ('40','P13','2021-09-07','2021-09-07','60.0'),
  ('50','P13','2021-09-07','2021-09-07','60.0'),
  ('20','P16','2021-06-13','2021-06-17','1075.0'),
  ('40','P16','2021-06-13','2021-06-13','60.0'),
  ('50','P16','2021-06-13','2021-06-13','60.0'),
  ('40','P16','2021-06-14','2021-06-14','60.0'),
  ('50','P16','2021-06-14','2021-06-14','60.0'),
  ('20','P16','2021-06-24','2021-06-27','800.0'),
  ('40','P16','2021-06-26','2021-06-26','60.0'),
  ('50','P16','2021-06-26','2021-06-26','60.0'),
  ('10','P19','2021-03-18','2021-03-18','575.0'),
  ('10','P22','2021-02-10','2021-02-10','113.0'),
  ('20','P22','2021-02-11','2021-02-13','375.0'),
  ('40','P22','2021-02-11','2021-02-11','60.0'),
  ('50','P22','2021-02-11','2021-02-11','60.0'),
  ('40','P22','2021-02-12','2021-02-12','60.0'),
  ('50','P22','2021-02-12','2021-02-12','60.0'),
  ('20','P22','2021-03-05','2021-03-10','360.0'),
  ('40','P22','2021-03-05','2021-03-05','60.0'),
  ('50','P22','2021-03-05','2021-03-05','60.0'),
  ('40','P22','2021-03-06','2021-03-06','60.0'),
  ('50','P22','2021-03-06','2021-03-06','60.0'),
  ('40','P22','2021-03-09','2021-03-09','60.0'),
  ('50','P22','2021-03-09','2021-03-09','60.0'),
  ('10','P25','2021-01-06','2021-01-06','125.0'),
  ('10','P28','2021-01-01','2021-01-01','265.0'),
  ('30','P28','2021-01-02','2021-01-05','1620.0'),
  ('40','P28','2021-01-04','2021-01-04','60.0'),
  ('50','P28','2021-01-04','2021-01-04','60.0'),
  ('10','P31','2021-01-05','2021-01-05','36.0'),
  ('10','P34','2021-05-10','2021-05-10','553.0'),
  ('10','P37','2021-02-03','2021-02-03','80.0'),
  ('20','P37','2021-02-04','2021-02-14','3355.0'),
  ('40','P37','2021-02-05','2021-02-05','60.0'),
  ('50','P37','2021-02-05','2021-02-05','60.0'),
  ('40','P37','2021-02-07','2021-02-07','60.0'),
  ('50','P37','2021-02-07','2021-02-07','60.0'),
  ('40','P37','2021-02-09','2021-02-09','60.0'),
  ('50','P37','2021-02-09','2021-02-09','60.0'),
  ('40','P37','2021-02-10','2021-02-10','60.0'),
  ('50','P37','2021-02-10','2021-02-10','60.0'),
  ('40','P37','2021-02-13','2021-02-13','60.0'),
  ('50','P37','2021-02-13','2021-02-13','60.0'),
  ('20','P37','2021-05-02','2021-05-05','1360.0'),
  ('40','P37','2021-05-02','2021-05-02','60.0'),
  ('50','P37','2021-05-02','2021-05-02','60.0'),
  ('40','P37','2021-05-03','2021-05-03','60.0'),
  ('50','P37','2021-05-03','2021-05-03','60.0'),
  ('20','P37','2021-06-26','2021-06-29','200.0'),
  ('40','P37','2021-06-27','2021-06-27','60.0'),
  ('50','P37','2021-06-27','2021-06-27','60.0'),
  ('40','P37','2021-06-28','2021-06-28','60.0'),
  ('50','P37','2021-06-28','2021-06-28','60.0'),
  ('20','P37','2021-09-04','2021-09-06','315.0'),
  ('40','P37','2021-09-04','2021-09-04','60.0'),
  ('50','P37','2021-09-04','2021-09-04','60.0'),
  ('40','P37','2021-09-05','2021-09-05','60.0'),
  ('50','P37','2021-09-05','2021-09-05','60.0'),
  ('10','P40','2021-03-26','2021-03-26','50.0'),
  ('20','P40','2021-03-27','2021-03-27','310.0'),
  ('20','P40','2021-04-24','2021-05-02','1980.0'),
  ('40','P40','2021-04-25','2021-04-25','60.0'),
  ('50','P40','2021-04-25','2021-04-25','60.0'),
  ('40','P40','2021-04-26','2021-04-26','60.0'),
  ('50','P40','2021-04-26','2021-04-26','60.0'),
  ('40','P40','2021-04-27','2021-04-27','60.0'),
  ('50','P40','2021-04-27','2021-04-27','60.0'),
  ('40','P40','2021-05-01','2021-05-01','60.0'),
  ('50','P40','2021-05-01','2021-05-01','60.0'),
  ('20','P40','2021-05-22','2021-05-31','3800.0'),
  ('40','P40','2021-05-22','2021-05-22','60.0'),
  ('50','P40','2021-05-22','2021-05-22','60.0'),
  ('40','P40','2021-05-23','2021-05-23','60.0'),
  ('50','P40','2021-05-23','2021-05-23','60.0'),
  ('40','P40','2021-05-25','2021-05-25','60.0'),
  ('50','P40','2021-05-25','2021-05-25','60.0'),
  ('40','P40','2021-05-26','2021-05-26','60.0'),
  ('50','P40','2021-05-26','2021-05-26','60.0'),
  ('40','P40','2021-05-27','2021-05-27','60.0'),
  ('50','P40','2021-05-27','2021-05-27','60.0'),
  ('40','P40','2021-05-28','2021-05-28','60.0'),
  ('50','P40','2021-05-28','2021-05-28','60.0'),
  ('40','P40','2021-05-30','2021-05-30','60.0'),
  ('50','P40','2021-05-30','2021-05-30','60.0'),
  ('20','P40','2021-07-16','2021-07-25','900.0'),
  ('40','P40','2021-07-16','2021-07-16','60.0'),
  ('50','P40','2021-07-16','2021-07-16','60.0'),
  ('40','P40','2021-07-18','2021-07-18','60.0'),
  ('50','P40','2021-07-18','2021-07-18','60.0'),
  ('40','P40','2021-07-19','2021-07-19','60.0'),
  ('50','P40','2021-07-19','2021-07-19','60.0'),
  ('40','P40','2021-07-20','2021-07-20','60.0'),
  ('50','P40','2021-07-20','2021-07-20','60.0'),
  ('40','P40','2021-07-21','2021-07-21','60.0'),
  ('50','P40','2021-07-21','2021-07-21','60.0'),
  ('40','P40','2021-07-22','2021-07-22','60.0'),
  ('50','P40','2021-07-22','2021-07-22','60.0'),
  ('40','P40','2021-07-23','2021-07-23','60.0'),
  ('50','P40','2021-07-23','2021-07-23','60.0'),
  ('40','P40','2021-07-24','2021-07-24','60.0'),
  ('50','P40','2021-07-24','2021-07-24','60.0'),
  ('20','P40','2021-09-08','2021-09-15','3360.0'),
  ('40','P40','2021-09-08','2021-09-08','60.0'),
  ('50','P40','2021-09-08','2021-09-08','60.0'),
  ('40','P40','2021-09-09','2021-09-09','60.0'),
  ('50','P40','2021-09-09','2021-09-09','60.0'),
  ('40','P40','2021-09-11','2021-09-11','60.0'),
  ('50','P40','2021-09-11','2021-09-11','60.0'),
  ('40','P40','2021-09-12','2021-09-12','60.0'),
  ('50','P40','2021-09-12','2021-09-12','60.0'),
  ('40','P40','2021-09-13','2021-09-13','60.0'),
  ('50','P40','2021-09-13','2021-09-13','60.0'),
  ('40','P40','2021-09-14','2021-09-14','60.0'),
  ('50','P40','2021-09-14','2021-09-14','60.0'),
  ('20','P40','2021-12-04','2021-12-09','900.0'),
  ('40','P40','2021-12-04','2021-12-04','60.0'),
  ('50','P40','2021-12-04','2021-12-04','60.0'),
  ('40','P40','2021-12-06','2021-12-06','60.0'),
  ('50','P40','2021-12-06','2021-12-06','60.0'),
  ('40','P40','2021-12-07','2021-12-07','60.0'),
  ('50','P40','2021-12-07','2021-12-07','60.0'),
  ('40','P40','2021-12-08','2021-12-08','60.0'),
  ('50','P40','2021-12-08','2021-12-08','60.0');</pre>
          <pre class="correct">INSERT INTO hospitalisation (NumServ, CodePat, DateEntree, DateSortie, Frais)
VALUES ('30','P13','2021-06-29','2021-06-30','350.0'),
  ('40','P13','2021-06-29','2021-06-29','60.0'),
  ('50','P13','2021-06-29','2021-06-29','60.0'),
  ('30','P13','2021-08-21','2021-08-28','680.0'),
  ('40','P13','2021-08-21','2021-08-21','60.0'),
  ('50','P13','2021-08-21','2021-08-21','60.0'),
  ('40','P13','2021-08-23','2021-08-23','60.0'),
  ('50','P13','2021-08-23','2021-08-23','60.0'),
  ('40','P13','2021-08-24','2021-08-24','60.0'),
  ('50','P13','2021-08-24','2021-08-24','60.0'),
  ('40','P13','2021-08-25','2021-08-25','60.0'),
  ('50','P13','2021-08-25','2021-08-25','60.0'),
  ('40','P13','2021-08-27','2021-08-27','60.0'),
  ('50','P13','2021-08-27','2021-08-27','60.0'),
  ('30','P13','2021-08-29','2021-09-08','4290.0'),
  ('40','P13','2021-08-29','2021-08-29','60.0'),
  ('50','P13','2021-08-29','2021-08-29','60.0'),
  ('40','P13','2021-08-30','2021-08-30','60.0'),
  ('50','P13','2021-08-30','2021-08-30','60.0'),
  ('40','P13','2021-08-31','2021-08-31','60.0'),
  ('50','P13','2021-08-31','2021-08-31','60.0'),
  ('40','P13','2021-09-01','2021-09-01','60.0'),
  ('50','P13','2021-09-01','2021-09-01','60.0'),
  ('40','P13','2021-09-02','2021-09-02','60.0'),
  ('50','P13','2021-09-02','2021-09-02','60.0'),
  ('40','P13','2021-09-03','2021-09-03','60.0'),
  ('50','P13','2021-09-03','2021-09-03','60.0'),
  ('40','P13','2021-09-04','2021-09-04','60.0'),
  ('50','P13','2021-09-04','2021-09-04','60.0'),
  ('40','P13','2021-09-06','2021-09-06','60.0'),
  ('50','P13','2021-09-06','2021-09-06','60.0'),
  ('40','P13','2021-09-07','2021-09-07','60.0'),
  ('50','P13','2021-09-07','2021-09-07','60.0'),
  ('20','P16','2021-06-13','2021-06-17','1075.0'),
  ('40','P16','2021-06-13','2021-06-13','60.0'),
  ('50','P16','2021-06-13','2021-06-13','60.0'),
  ('40','P16','2021-06-14','2021-06-14','60.0'),
  ('50','P16','2021-06-14','2021-06-14','60.0'),
  ('20','P16','2021-06-24','2021-06-27','800.0'),
  ('40','P16','2021-06-26','2021-06-26','60.0'),
  ('50','P16','2021-06-26','2021-06-26','60.0'),
  ('10','P19','2021-03-18','2021-03-18','575.0'),
  ('10','P22','2021-02-10','2021-02-10','113.0'),
  ('20','P22','2021-02-11','2021-02-13','375.0'),
  ('40','P22','2021-02-11','2021-02-11','60.0'),
  ('50','P22','2021-02-11','2021-02-11','60.0'),
  ('40','P22','2021-02-12','2021-02-12','60.0'),
  ('50','P22','2021-02-12','2021-02-12','60.0'),
  ('20','P22','2021-03-05','2021-03-10','360.0'),
  ('40','P22','2021-03-05','2021-03-05','60.0'),
  ('50','P22','2021-03-05','2021-03-05','60.0'),
  ('40','P22','2021-03-06','2021-03-06','60.0'),
  ('50','P22','2021-03-06','2021-03-06','60.0'),
  ('40','P22','2021-03-09','2021-03-09','60.0'),
  ('50','P22','2021-03-09','2021-03-09','60.0'),
  ('10','P25','2021-01-06','2021-01-06','125.0'),
  ('10','P28','2021-01-01','2021-01-01','265.0'),
  ('30','P28','2021-01-02','2021-01-05','1620.0'),
  ('40','P28','2021-01-04','2021-01-04','60.0'),
  ('50','P28','2021-01-04','2021-01-04','60.0'),
  ('10','P31','2021-01-05','2021-01-05','36.0'),
  ('10','P34','2021-05-10','2021-05-10','553.0'),
  ('10','P37','2021-02-03','2021-02-03','80.0'),
  ('20','P37','2021-02-04','2021-02-14','3355.0'),
  ('40','P37','2021-02-05','2021-02-05','60.0'),
  ('50','P37','2021-02-05','2021-02-05','60.0'),
  ('40','P37','2021-02-07','2021-02-07','60.0'),
  ('50','P37','2021-02-07','2021-02-07','60.0'),
  ('40','P37','2021-02-09','2021-02-09','60.0'),
  ('50','P37','2021-02-09','2021-02-09','60.0'),
  ('40','P37','2021-02-10','2021-02-10','60.0'),
  ('50','P37','2021-02-10','2021-02-10','60.0'),
  ('40','P37','2021-02-13','2021-02-13','60.0'),
  ('50','P37','2021-02-13','2021-02-13','60.0'),
  ('20','P37','2021-05-02','2021-05-05','1360.0'),
  ('40','P37','2021-05-02','2021-05-02','60.0'),
  ('50','P37','2021-05-02','2021-05-02','60.0'),
  ('40','P37','2021-05-03','2021-05-03','60.0'),
  ('50','P37','2021-05-03','2021-05-03','60.0'),
  ('20','P37','2021-06-26','2021-06-29','200.0'),
  ('40','P37','2021-06-27','2021-06-27','60.0'),
  ('50','P37','2021-06-27','2021-06-27','60.0'),
  ('40','P37','2021-06-28','2021-06-28','60.0'),
  ('50','P37','2021-06-28','2021-06-28','60.0'),
  ('20','P37','2021-09-04','2021-09-06','315.0'),
  ('40','P37','2021-09-04','2021-09-04','60.0'),
  ('50','P37','2021-09-04','2021-09-04','60.0'),
  ('40','P37','2021-09-05','2021-09-05','60.0'),
  ('50','P37','2021-09-05','2021-09-05','60.0'),
  ('10','P40','2021-03-26','2021-03-26','50.0'),
  ('20','P40','2021-03-27','2021-03-27','310.0'),
  ('20','P40','2021-04-24','2021-05-02','1980.0'),
  ('40','P40','2021-04-25','2021-04-25','60.0'),
  ('50','P40','2021-04-25','2021-04-25','60.0'),
  ('40','P40','2021-04-26','2021-04-26','60.0'),
  ('50','P40','2021-04-26','2021-04-26','60.0'),
  ('40','P40','2021-04-27','2021-04-27','60.0'),
  ('50','P40','2021-04-27','2021-04-27','60.0'),
  ('40','P40','2021-05-01','2021-05-01','60.0'),
  ('50','P40','2021-05-01','2021-05-01','60.0'),
  ('20','P40','2021-05-22','2021-05-31','3800.0'),
  ('40','P40','2021-05-22','2021-05-22','60.0'),
  ('50','P40','2021-05-22','2021-05-22','60.0'),
  ('40','P40','2021-05-23','2021-05-23','60.0'),
  ('50','P40','2021-05-23','2021-05-23','60.0'),
  ('40','P40','2021-05-25','2021-05-25','60.0'),
  ('50','P40','2021-05-25','2021-05-25','60.0'),
  ('40','P40','2021-05-26','2021-05-26','60.0'),
  ('50','P40','2021-05-26','2021-05-26','60.0'),
  ('40','P40','2021-05-27','2021-05-27','60.0'),
  ('50','P40','2021-05-27','2021-05-27','60.0'),
  ('40','P40','2021-05-28','2021-05-28','60.0'),
  ('50','P40','2021-05-28','2021-05-28','60.0'),
  ('40','P40','2021-05-30','2021-05-30','60.0'),
  ('50','P40','2021-05-30','2021-05-30','60.0'),
  ('20','P40','2021-07-16','2021-07-25','900.0'),
  ('40','P40','2021-07-16','2021-07-16','60.0'),
  ('50','P40','2021-07-16','2021-07-16','60.0'),
  ('40','P40','2021-07-18','2021-07-18','60.0'),
  ('50','P40','2021-07-18','2021-07-18','60.0'),
  ('40','P40','2021-07-19','2021-07-19','60.0'),
  ('50','P40','2021-07-19','2021-07-19','60.0'),
  ('40','P40','2021-07-20','2021-07-20','60.0'),
  ('50','P40','2021-07-20','2021-07-20','60.0'),
  ('40','P40','2021-07-21','2021-07-21','60.0'),
  ('50','P40','2021-07-21','2021-07-21','60.0'),
  ('40','P40','2021-07-22','2021-07-22','60.0'),
  ('50','P40','2021-07-22','2021-07-22','60.0'),
  ('40','P40','2021-07-23','2021-07-23','60.0'),
  ('50','P40','2021-07-23','2021-07-23','60.0'),
  ('40','P40','2021-07-24','2021-07-24','60.0'),
  ('50','P40','2021-07-24','2021-07-24','60.0'),
  ('20','P40','2021-09-08','2021-09-15','3360.0'),
  ('40','P40','2021-09-08','2021-09-08','60.0'),
  ('50','P40','2021-09-08','2021-09-08','60.0'),
  ('40','P40','2021-09-09','2021-09-09','60.0'),
  ('50','P40','2021-09-09','2021-09-09','60.0'),
  ('40','P40','2021-09-11','2021-09-11','60.0'),
  ('50','P40','2021-09-11','2021-09-11','60.0'),
  ('40','P40','2021-09-12','2021-09-12','60.0'),
  ('50','P40','2021-09-12','2021-09-12','60.0'),
  ('40','P40','2021-09-13','2021-09-13','60.0'),
  ('50','P40','2021-09-13','2021-09-13','60.0'),
  ('40','P40','2021-09-14','2021-09-14','60.0'),
  ('50','P40','2021-09-14','2021-09-14','60.0'),
  ('20','P40','2021-12-04','2021-12-09','900.0'),
  ('40','P40','2021-12-04','2021-12-04','60.0'),
  ('50','P40','2021-12-04','2021-12-04','60.0'),
  ('40','P40','2021-12-06','2021-12-06','60.0'),
  ('50','P40','2021-12-06','2021-12-06','60.0'),
  ('40','P40','2021-12-07','2021-12-07','60.0'),
  ('50','P40','2021-12-07','2021-12-07','60.0'),
  ('40','P40','2021-12-08','2021-12-08','60.0'),
  ('50','P40','2021-12-08','2021-12-08','60.0');</pre>
        </div>
      </div>
      <div class="question">
        <div class="description">Afficher le nombre de patients dans la table <code>patient</code>.</div>
        <div class="query" data-typecontrol="textarea" data-rows="1">
          <pre class="user">SELECT ...;</pre>
          <pre class="correct">SELECT COUNT(*) AS nbre_patients FROM patient;</pre>
        </div>
      </div>
      <div class="question">
        <div class="description">Afficher le nombre total d'hospitalisations dans la table
          <code>hospitalisation</code>.
        </div>
        <div class="query" data-typecontrol="textarea" data-rows="1">
          <pre class="user">SELECT ...;</pre>
          <pre class="correct">SELECT COUNT(*) AS nbre_hosp FROM hospitalisation;</pre>
        </div>
      </div>
      <div class="question">
        <div class="description">Afficher le nombre total de patients abonnés à une mutuelle.</div>
        <div class="query" data-typecontrol="textarea" data-rows="1">
          <pre class="user">SELECT ...;</pre>
          <pre class="correct">SELECT COUNT(*) AS nbre_pat_mut FROM patient WHERE Mutuelle = 1;</pre>
        </div>
      </div>
      <div class="question">
        <div class="description">Afficher le nombre total d'hospitalisations <code>DateEntree</code> durant le
          mois de Janvier.</div>
        <div class="query" data-typecontrol="textarea" data-rows="1">
          <pre class="user">SELECT ...;</pre>
          <pre class="correct">SELECT COUNT(*) AS nbre_hosp FROM hospitalisation WHERE MONTH(DateEntree) = 1;</pre>
        </div>
      </div>
      <div class="question">
        <div class="description">Afficher toutes les hospitalisations du mois de Janvier.</div>
        <div class="query" data-typecontrol="textarea" data-rows="1">
          <pre class="user">SELECT ...;</pre>
          <pre class="correct">SELECT * FROM hospitalisation WHERE MONTH(DateEntree) = 1;</pre>
        </div>
      </div>
      <div class="question">
        <div class="description">Calculer les frais d'hospitalisation du patient <code>CodePat = P28</code> durant le
          mois de Janvier.</div>
        <div class="query" data-typecontrol="textarea" data-rows="4">
          <pre class="user">SELECT ...;</pre>
          <pre class="correct">SELECT SUM(Frais) AS tot_frais
FROM hospitalisation 
WHERE MONTH(DateEntree) = 1 AND 
  CodePat = 'P28';</pre>
        </div>
      </div>
      <div class="question">
        <div class="description">Afficher la liste des personnes (CodePat, Nom, Prenom, DateNaiss, Mutuelle)
          hospitalisées au mois de Janvier sans redondances.</div>
        <div class="query" data-typecontrol="textarea" data-rows="4">
          <pre class="user">SELECT ...;</pre>
          <pre class="correct">SELECT DISTINCT p.CodePat, Nom, Prenom, DateNaiss, Mutuelle 
FROM hospitalisation AS h, patient AS p
WHERE h.CodePat = p.CodePat AND 
  MONTH(DateEntree) = 1;</pre>
        </div>
      </div>
      <div class="question">
        <div class="description">Afficher les informations des patients les plus âgés (CodePat, Nom, Prenom,
          DateNaiss, Mutuelle).</div>
        <div class="query" data-typecontrol="textarea" data-rows="3">
          <pre class="user">SELECT ...;</pre>
          <pre class="correct">SELECT CodePat, Nom, Prenom, DateNaiss, Mutuelle 
FROM patient
WHERE DateNaiss = (SELECT MIN(DateNaiss) FROM patient);</pre>
        </div>
      </div>
      <div class="question">
        <div class="description">Afficher les informations des patients les mois âgés et les plus âgés (CodePat,
          Nom, Prenom,
          DateNaiss, Mutuelle) en ordre décroissant de leurs <code>DateNaiss</code>.</div>
        <div class="query" data-typecontrol="textarea" data-rows="5">
          <pre class="user">SELECT ...;</pre>
          <pre class="correct">SELECT CodePat, Nom, Prenom, DateNaiss, Mutuelle 
FROM patient
WHERE DateNaiss = (SELECT MIN(DateNaiss) FROM patient) OR
  DateNaiss = (SELECT MAX(DateNaiss) FROM patient)
ORDER BY DateNaiss DESC;</pre>
        </div>
      </div>
      <div class="question">
        <div class="description">Afficher les services (NumServ, LibServ), sans redondances, dans lequels a été
          hospitalisée le patient "Souha Ben Salem".</div>
        <div class="query" data-typecontrol="textarea" data-rows="4">
          <pre class="user">SELECT ...;</pre>
          <pre class="correct">SELECT DISTINCT s.NumServ, LibServ
FROM service AS s, hospitalisation AS h, patient AS p
WHERE s.NumServ = h.NumServ AND p.CodePat = h.CodePat AND
  Nom = 'Ben Salem' AND Prenom = 'Souha';</pre>
        </div>
      </div>
      <div class="question">
        <div class="description">Afficher les services (NumServ, LibServ), sans redondances, dans lequels le patient
          "Souha Ben Salem" n'a pas été hospitalisé.</div>
        <div class="query" data-typecontrol="textarea" data-rows="7">
          <pre class="user">SELECT ...;</pre>
          <pre class="correct">SELECT NumServ, LibServ
FROM service
WHERE NumServ NOT IN (
  SELECT DISTINCT s.NumServ
  FROM service AS s, hospitalisation AS h, patient AS p
  WHERE s.NumServ = h.NumServ AND p.CodePat = h.CodePat AND
    Nom = 'Ben Salem' AND Prenom = 'Souha');</pre>
        </div>
      </div>
      <div class="question">
        <div class="description">Afficher les informations des patients, (NumServ, LibServ, Nom, Prenom, DateEntree,
          DateSortie) et le nombre de jours d'hospitalisation, dont la date de sortie <code>DateSortie</code> n'est pas
          dans le même mois que la date d'entrée <code>DateEntree</code>.
        </div>
        <div class="query" data-typecontrol="textarea" data-rows="5">
          <pre class="user">SELECT ...;</pre>
          <pre class="correct">SELECT s.NumServ, LibServ, Nom, Prenom, DateEntree, DateSortie, 
  DATEDIFF(DateSortie, DateEntree) AS NbreJours
FROM service AS s, hospitalisation AS h, patient AS p
WHERE s.NumServ = h.NumServ AND p.CodePat = h.CodePat AND
 MONTH(DateEntree) != MONTH(DateSortie);</pre>
        </div>
      </div>
      <div class="question">
        <div class="description">Afficher le nombre de jours maximal d'hospitalisation.</div>
        <div class="query" data-typecontrol="textarea" data-rows="1">
          <pre class="user">SELECT ...;</pre>
          <pre class="correct">SELECT MAX(DATEDIFF(DateSortie, DateEntree)) AS max_jours FROM hospitalisation;</pre>
        </div>
      </div>
      <div class="question">
        <div class="description">Afficher les informations des patients (Nom, Prenom, DateEntree, DateSortie) qui ont le top de jours
          d'hospitalisation ainsi que les services (LibServ) où ont été admis.</div>
        <div class="query" data-typecontrol="textarea" data-rows="6">
          <pre class="user">SELECT ...;</pre>
          <pre class="correct">SELECT Nom, Prenom, LibServ, DateEntree, DateSortie
FROM hospitalisation AS h, service AS s, patient AS p
WHERE s.NumServ = h.NumServ AND p.CodePat = h.CodePat AND
  DATEDIFF(DateSortie, DateEntree) = (
    SELECT MAX(DATEDIFF(DateSortie, DateEntree)) FROM hospitalisation
  );</pre>
        </div>
      </div>
  </main>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/highlight.min.js"></script>
  <script>
    document.querySelectorAll("#questions pre>code").forEach(block => hljs.highlightElement(block));
  </script>
  <script src="assets/js/vue.min.js"></script>
  <script src="assets/apps/app05.js"></script>
</body>

</html>